{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blog!</h1>
    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <small>{{ post.publishedAt|date("d/m/y") }}</small>
        <p>{{ post.content }}</p>
        <small>{{ post.comments|length }} Comments</small>
        <a href="{{ path("blog_read", { id: post.id }) }}">Read</a>
    {% endfor %}
{% endblock %}