{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ post.title }}</h1>
    <small>{{ post.publishedAt|date("d/m/Y") }}</small>
    <p>{{ post.content }}</p>
    {{ form_start(form) }}
    {% if form.author is defined %}
        {{ form_row(form.author) }}
    {% endif %}
    {{ form_row(form.content) }}
    <button class="btn btn-primary" type="submit">Add a comment</button><br><br>
    {{ form_end(form) }}
    <ul class="list-group">
        {% for comment in post.comments %}
            <li class="list-group-item">
                {{ comment.user is not null ? comment.user.pseudo : comment.author }} : {{ comment.content }}
                {% if is_granted('ROLE_ADMIN') or comment.user is not null %}
                    <i onclick="removeComment(this, {{ comment.id }})" class="fas fa fa-minus-circle"></i>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
